.form02 dl {
  width: auto;
  border: solid 2px #ccc;
  border-radius: 10px;
  background-color: #fafafa;
}

.form02 dl dt {
  float: left;
  clear: both;
  width: 13em;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: -13em;
  margin-left: 0;
  padding: 1em;
  display: inline;
  border-right: 1px solid #ccc;
  background-color: transparent;
}

.form02 dl dd {
  margin: 0;
  padding: 1em 0 1em 13em;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}

.form02 dl::after {
  height: 0;
  visibility: hidden;
  content: ".";
  display: block;
  clear: both;
}
